form{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.form-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}
