<h4>Add a new Fee : </h4>
<form [formGroup]="formValues" (submit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Supplier</mat-label>
    <input formControlName="supplier" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Property Id</mat-label>
    <input formControlName="propertyId" type="number" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input formControlName="amount" type="number" matInput>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Date</mat-label>
    <mat-datepicker #myDatePicker></mat-datepicker>
    <input formControlName="date" [matDatepicker]="myDatePicker" matInput>
    <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </mat-card-actions>
</form>
