.detailsAndStatsContainer {
  display: flex;
  justify-content: space-around;
  margin : 2rem 0 0 0;

  div{
    border: 1px solid black;
    width: 90%;
    margin: 1rem;
    padding: 1rem;
  }
  h3{
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
  }

   strong{
    font-size: large;
    margin: 0 0.5rem;
  }

  mat-progress-bar{
    margin: 1rem 0;
  }

  .subdiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
