<div class="container-sm w-50 mt-5">
  <h1>Nouveau revenu</h1>
  <form>
    <div class="form-group mb-3">
      <label for="date">Date</label>
      <input type="date" id="date" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="amount">Montant</label>
      <input type="text" id="amount" class="form-control">
    </div>
    <div class="form-group mb-3">
      <label for="description">Description</label>
      <input type="text" id="description" class="form-control">
    </div>
    <button class="btn btn-dark">Ajouter</button>
  </form>
</div>


