<!-- Page Wrapper -->
<div style="background: url(assets/immeuble-blanc.jpg)" class="page-holder bg-cover" id="background-image">

  <div class="container py-5">
    <header class="text-center text-black py-5">
      <h1 class="display-4 font-weight-bold mb-4">Bienvenue dans votre espace personnel</h1>

      <ul style="list-style-image: url(../../assets/fleche-droite.svg)">
        <li><a href="">Ajouter un bien</a></li>
        <li><a href="property/:id">Accéder au(x) bien(s)</a></li>
        <li><a href="">Dashboard global</a></li>
      </ul>

      <p class="lead mb-0">EasyImmo, vos biens, vos frais et vos loyers en quelques clics..</p>
    </header>

  </div>
</div>

